/* Designed and Developed by Steffan Perera - All Rights Reserved 2023 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #131515;
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
  display: none;
}
br::selection {
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

/* main */
.main {
  height: 100%;
  width: 100%;
  padding: 10%;
}

/* card */
.card {
  height: 100%;
  padding: 3%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #222222;
}

/* bio */
.bio {
  display: flex;
  flex-direction: row;
}
.bio-text-main {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
}
.bio-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav > a {
  margin-bottom: 0.6rem;
}
.nav > a:hover {
  text-decoration: underline;
}

/* -- responsive-design -- */

/* mobile: 0px - 650px */
@media only screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }

  /* main */
  .main {
    height: 100%;
    width: 100%;
    padding: 5%;
  }

  /* card */
  .card {
    height: 80%;
    padding: 10%;
  }

  /* bio */
  .bio {
    flex-direction: column;
    justify-content: space-between;
  }
  .bio-text-main {
    width: 100%;
    flex-direction: column;
  }
  .bio-text {
    width: 100%;
    justify-content: end;
    align-items: flex-end;
  }
  .bio-desc {
    margin-top: 2rem;
  }
  .nav {
    align-items: flex-end;
  }
  .nav > a {
    margin-bottom: 1rem;
  }
}
